<%= form_for(add_product) do |f| %>
  <% if add_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(add_product.errors.count, "error") %> prohibited this add_product from being saved:</h2>

      <ul>
      <% add_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :decription %>
    <%= f.text_area :decription %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
