<p id="notice"><%= notice %></p>

<h1>Add Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Decription</th>
      <th>Link</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_products.each do |add_product| %>
      <tr>
        <td><%= add_product.title %></td>
        <td><%= add_product.decription %></td>
        <td><%= add_product.link %></td>
        <td><%= add_product.product %></td>
        <td><%= link_to 'Show', add_product %></td>
        <td><%= link_to 'Edit', edit_add_product_path(add_product) %></td>
        <td><%= link_to 'Destroy', add_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Add Product', new_add_product_path %>
