<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @add_product.title %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @add_product.decription %>
</p>

<p>
  <strong>Link:</strong>
  <%= @add_product.link %>
</p>

<p>
  <strong>Product:</strong>
  <%= @add_product.product %>
</p>

<%= link_to 'Edit', edit_add_product_path(@add_product) %> |
<%= link_to 'Back', add_products_path %>
